spring:
  application:
    name: pairding

  datasource:
    url: jdbc:h2:mem:onRunning;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

security:
  oauth2:
    client:
      registration:
        google:
          client-id: 85284974719-vusv6213t0loqarjja2p453roc6rufi4.apps.googleusercontent.com
          client-secret: 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
          scope:
            - openid
            - profile
            - email
          redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        kakao:
          client-id: fd11684e8da5899359e185077d2bce3d
          client-authentication-method: client_secret_post
          redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
          authorization-grant-type: authorization_code
          client-name: kakao
          scope:
            - profile_nickname
            - account_email
      provider:
        google:
          authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
          token-uri: https://www.googleapis.com/oauth2/v4/token
          user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
          user-name-attribute: sub
        kakao:
          authorization-uri: https://kauth.kakao.com/oauth/authorize
          token-uri: https://kauth.kakao.com/oauth/token
          user-info-uri: https://kapi.kakao.com/v2/user/me
          user-name-attribute: id

cors:
  allow-credentials: true
  allowed-origins: "http://localhost:3000"
  allowed-methods: "GET,POST,PUT,PATCH,DELETE,OPTIONS"
  allowed-headers: "Authorization,Content-Type,Origin"