spring:
  application:
    name: pairding

  datasource:
    url: jdbc:h2:mem:pairding;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: Ov23liwG1ZHqyG6uijGr
            client-secret: 4e9d29b8e33e9e4f40f04fbd7123d1666ea3930f
            scope:
              - read:user
              - user:email
              - repo
            # redirect-uri: "{baseUrl}/login/oauth2/code/github"
            redirect-uri: "https://turbo-telegram-9gp454rv6w5hp654-8080.app.github.dev/login/oauth2/code/github"
            client-name: GitHub

cors:
  allow-credentials: true
  allowed-origins: "http://localhost:3000"
  allowed-methods: "GET,POST,PUT,PATCH,DELETE,OPTIONS"
  allowed-headers: "Authorization,Content-Type,Origin"

jwt:
  secret: "VlwEyVlPKl54t484gbR2e7dNA7N6bH7v55jB7v55jB="